/* Styles for individual patient component */
.patient {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1em;
  }
  
  /* Patient photo styling */
  .patient-photo {
    width: 100px; /* Adjust as necessary */
    height: 100px; /* Adjust as necessary */
    border-radius: 50%;
    margin-bottom: 1em;
  }
  
  /* Patient name styling */
  .patient-name {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5em;
  }
  
  /* Next appointment styling */
  .patient-nextapp {
    color: #0056b3;
    margin-bottom: 1em;
  }
  
  /* General data styling */
  .data {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }
  
  /* Strong element within data styling, for labels */
  .data strong {
    font-weight: bold;
    margin-right: 0.5em;
  }

  /* Styles for the patient cards container */
.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  /* Styles for each patient card */
  .patient {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the left side with patient info */
  .patient-info {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up as much space as needed */
    padding-right: 20px; /* Add some space between the columns */
  }
  
  /* Styles for the right side with appointment info */
  .patient-appointment-info {
    display: flex;
    flex-direction: column;
    flex-basis: 250px; /* Adjust the width as needed */
    align-items: flex-start; /* Align the items to the start */
    text-align: left; /* Align the text to the left for consistency */
  }
  
  /* Styling for headers in appointment info for better visibility */
  .patient-appointment-info h3 {
    font-size: 1em; /* Adjust the size as needed */
    color: #0056b3; /* Adjust the color as needed */
    margin-bottom: 5px;
  }
  
  /* Styling for individual data items */
  .data {
    margin-bottom: 10px; /* Add some space between items */
    flex-direction: row;
  }